p {
    margin: 0;
    font-size: 14px;
}

.goal_btn {
    font-size: 10px;
    border-radius: 10px;
    float: right;
}

.btn-function button {
    font-size: 12px;
    border-radius: 10px;
    background-color: gold;
}

button {
    font-size: 12px;
    border-radius: 10px;
    background-color: gold;
    color: gold;
}

.middle .conn {
    border-radius: 10px;
}

th {
    background-color: grey;
}