<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="">
    <div style="background-color:orange; border-radius: 20%; box-shadow: brown; opacity: 70%;"class="p-2 pl-4  mb-4">
        <h1 class="text-white" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
            Create New goals here
        </h1>
    </div>
    <div class="container">
        <a class="text-primary" routerLink='/scrumboard/{{ usercred.project_id }}'> <i class="fa fa-angle-double-left"></i> Back to Homepage <i class="fa fa-angle-double-left"></i></a>
        <br>
        <br>
        <h5 class="text-success">{{ feedback }}</h5>
        <form #createprojectForm="ngForm" (ngSubmit)=oncreateSubmit()>
            <div class="form_group">
                <label>
        <h3> What do task do you need to do?</h3>
    </label>
                <input type="text" placeholder="Any.." name="taskname" class="form-control" #taskname='ngModel' [(ngModel)]='creategoal.name'>
            </div>
            <br>
            <button style="background-color:steelblue;" class="btn " type="submit">Add your Task</button>
        </form>
    </div>
</div>