<section>
    <div style="background-color:aqua;" class="container">
        <h3>Chat</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="chating" id="data">
                    <div *ngFor="let message of messages" class="row">
                        <div *ngIf="message.username == getUsername()" class="col-lg-6">
                            <!-- <div class="d-flex flex-row justify-content-end">
                                <span class="you-sender">{{ message.username }}</span>
                                <span class="time-left">{{ message.timestamp }}</span>
                            </div>
                            <div class="your-message d-flex flex-wrap">
                                <p class="">{{ message.content }}</p>
                            </div> -->
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex flex-row">
                                <span class="sender">{{ message.username }}</span>
                                <span class="time-right">{{ message.timestamp }}</span>
                            </div>
                            <div class="message d-flex flex-wrap">
                                <p class="">{{ message.content }}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-lg-11">
                            <input required class="form-control" placeholder="What's on your mind…" name="chattext" #chattext='ngModel' [(ngModel)]='scrumUserLoginData.projname'/>
                        </div>
                        <div class="col-lg-1">
                            <button style="background-color:steelblue;"type="submit" class="btn " (click)=sendMessage()>Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</section>