<div style="background-color: rgb(233, 193, 14); height: 100%;">
    <nav> 
        <button  style="background-color: blue;  position: fixed; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" ><a routerLink = '/signup' routerLinkActive = 'any-css-class'>Sign up</a> </button>
        <br>
        <br>
        <button style="background-color: blue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" ><a routerLink = '/login'>Login</a></button>
        </nav>
    </div>
