<div class="container-fluid">
<h1> Login</h1>
	


<h5> {{ feedback }}</h5>
<div>
    <nav>
		<a routerLink = '/signup' routerLinkActive = 'any-css-class'>Don't have an account? 
			<br>Sign up</a>
        <br>
        <br>
       </nav>
    </div>

  <form #userLoginForm="ngForm" (ngSubmit)=onLoginSubmit()>

	
		<div class="form_group">
			<label> Email</label>
			<input type="email" placeholder="@domain.com" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [class.is-invalid]="email.invalid && email.touched" #email='ngModel' name="email"
        class="form-control" [(ngModel)]='scrumUserLoginData.email'>
        <div *ngIf="email.errors && (email.invalid || email.untouched)">
        <small [class.d-none] = "email.valid || email.untouched" class="text-danger">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Email must include @domain.com </small>
     	 </div>
	</div>
		<div class="form_group">
			<label> Password</label>
			<input required type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" name = "Password" [class.is-invalid] = "password.invalid && password.touched" #password='ngModel' class="form-control" [(ngModel)]='scrumUserLoginData.password'>
			<div *ngIf ="password.errors && (password.invalid || password.untouched)">
					<small [class.d-none] = "password.valid || password.untouched" class="text-danger">Password is required</small>
					<small class="text-danger" *ngIf="password.errors.pattern"> Password should be atleast 8 characters long and should contain one number,one character and one special character</small>
				</div>
	</div>
		<div class="form_group">
			<label> Project name</label>
			<input type="text" placeholder="project..." required name="projname" [class.is-invalid]="projectname.invalid && projectname.touched" #projectname='ngModel' class="form-control" [(ngModel)]='scrumUserLoginData.projname'>
      <small [class.d-none]="projectname.valid || projectname.untouched" class="text-danger">Project Name is required</small>
		</div>
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
</div>
