<div class="container-fluid">
<h1> Create a new account</h1>



<br>
<br>
<h6> {{ feedback }}</h6>

<div>
    <nav>
		<a routerLink = '/login' routerLinkActive = 'any-css-class'>Already have an account? <br> Log in here 
			</a>
        <br>
        <br>
       </nav>
    </div>
	<form #userSignupForm = "ngForm" novalidate (ngSubmit)="onSubmit()">
		<div class="form_group">
			<label> Email</label>
			<input type="email" placeholder="@domain.com" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [class.is-invalid]="email.invalid && email.touched" #email='ngModel' name="email"
        class="form-control" [(ngModel)]='scrumUserModel.email'>
        <div *ngIf="email.errors && (email.invalid || email.untouched)">
        <small [class.d-none] = "email.valid || email.untouched" class="text-danger">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Email must include @domain.com </small>
      </div>
		</div>
		
		<div class="form_group">
			<label> Fullname</label>
			<input type="text" name = "Fullname"class="form-control" [(ngModel)]='scrumUserModel.fullname'>
		</div>

		<div class="form_group">
			<label> Password</label>
			<input required type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" name = "Password" [class.is-invalid] = "password.invalid && password.touched" #password='ngModel' class="form-control" [(ngModel)]='scrumUserModel.password'>
			<div *ngIf ="password.errors && (password.invalid || password.untouched)">
					<small [class.d-none] = "password.valid || password.untouched" class="text-danger">Password is required</small>
					<small class="text-danger" *ngIf="password.errors.pattern"> Password should be atleast 8 characters long and should contain one number,one character and one special character</small>
				</div>
			</div>
		<div class="form_group">
			<label>User Type</label>
			<select required class="custom-select" name="usertype" [class.is-invalid]="usertype.invalid && usertype.touched" #usertype='ngModel' [(ngModel)]='scrumUserModel.usertype'>
				<option value=""></option>
				<option *ngFor="let type of userTypes"> {{ type }}</option>
			</select>
			<small [class.d-none]="usertype.valid || usertype.untouched" class="text-danger">Please select a type</small>
			
		</div>
		<button class="btn btn-primary" type="submit">Create User</button>
	</form>
</div>
