<body style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
<div style="background-color:steelblue;"class=" p-2">
    <h2 class="text-white">
        Create A Project
    </h2>
</div>

<div style="background-color:aqua;"class="container-fluid">

    <h5 class="text-success m-4">{{ response }}</h5>
    <form #createprojectForm="ngForm" (ngSubmit)=oncreateSubmit()>
        <div class="form_group">
            <label>
        Project name
      </label>
            <input required type="text" placeholder="project..." pattern="^[A-Za-z]{5,}$" [class.is-invalid]="projectname.invalid && projectname.touched" name="projectname" class="form-control" #projectname='ngModel' [(ngModel)]='createproj.projname'>
            <div *ngIf="projectname.errors && (projectname.invalid && projectname.touched)">
                <small *ngIf="projectname.errors.pattern" class="text-danger">Enter a valid Project Name </small>
                <small *ngIf="projectname.errors.required" class="text-danger">Project Name is required</small>
            </div>
        </div>
        <div class="form_group">
            <label>
            Email
          </label>
            <input required type="email" placeholder="@domain.com" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" [class.is-invalid]="email.invalid && email.touched" disabled class="form-control" #email='ngModel' [(ngModel)]='createproj.email'>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small *ngIf="email.errors.pattern" class="text-danger">Please enter a valid email</small>
                <small *ngIf="email.errors.required" class="text-danger">Email field is required</small>
            </div>
        </div>
        <div class="form_group">
            <label>
            Fullname
          </label>
            <input type="text" required name="fullname" disabled pattern="^[A-Za-z]{3,}$" class="form-control" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname='ngModel' [(ngModel)]='createproj.fullname'>
            <div *ngIf="fullname.errors && (fullname.invalid && fullname.touched)">
                <small *ngIf="fullname.errors.pattern" class="text-danger">Name is not appropriate</small>
                <small *ngIf="fullname.errors.required" class="text-danger"> Fullname field is required</small>
            </div>
        </div>
        <br>
        <button style="background-color:steelblue;"class="btn " type="submit">Create Project</button>
    </form>
</div>
</body>